Repository aurorabuilder/elements, pull requests merged in 2020-01, with the labels that each got.

#442 Odyssey of the Dragonlords initial
  third-party.index
  third-party/arcanum-worlds.index
  third-party/arcanum-worlds/odyssey-of-the-dragonlords.index
  third-party/arcanum-worlds/odyssey-of-the-dragonlords/items.xml
  third-party/arcanum-worlds/odyssey-of-the-dragonlords/race-thyleancentaur.xml
  third-party/arcanum-worlds/odyssey-of-the-dragonlords/race-thyleanmedusa.xml
  third-party/arcanum-worlds/odyssey-of-the-dragonlords/race-thyleanminotaur.xml
  third-party/arcanum-worlds/odyssey-of-the-dragonlords/race-thyleannymph.xml
  third-party/arcanum-worlds/odyssey-of-the-dragonlords/race-thyleansatyr.xml
  third-party/arcanum-worlds/odyssey-of-the-dragonlords/race-thyleansiren.xml
  third-party/arcanum-worlds/odyssey-of-the-dragonlords/source.xml
  third-party/arcanum-worlds/odyssey-of-the-dragonlords/spells.xml
  third-party/arcanum-worlds/odyssey-of-the-dragonlords/subclass-barbarian-herculean.xml
  third-party/arcanum-worlds/odyssey-of-the-dragonlords/subclass-bard-epicpoetry.xml
  third-party/arcanum-worlds/odyssey-of-the-dragonlords/subclass-cleric-prophecy.xml
  third-party/arcanum-worlds/odyssey-of-the-dragonlords/subclass-druid-sacrifice.xml
  third-party/arcanum-worlds/odyssey-of-the-dragonlords/subclass-fighter-hoplite.xml
  third-party/arcanum-worlds/odyssey-of-the-dragonlords/subclass-monk-shield.xml
  third-party/arcanum-worlds/odyssey-of-the-dragonlords/subclass-paladin-dragonlord.xml
  third-party/arcanum-worlds/odyssey-of-the-dragonlords/subclass-ranger-amazonian.xml
  third-party/arcanum-worlds/odyssey-of-the-dragonlords/subclass-rogue-odyssean.xml
  third-party/arcanum-worlds/odyssey-of-the-dragonlords/subclass-sorcerer-demigod.xml
  third-party/arcanum-worlds/odyssey-of-the-dragonlords/subclass-warlock-fates.xml
  third-party/arcanum-worlds/odyssey-of-the-dragonlords/subclass-wizard-academy.xml
Labels: third party

#428 DMSG The Great Dale
  third-party/dms-guild.index
  third-party/dms-guild/the-great-dale.index
  third-party/dms-guild/the-great-dale/archetypes/cleric-plague.xml
  third-party/dms-guild/the-great-dale/archetypes/druid-blight.xml
  third-party/dms-guild/the-great-dale/archetypes/druid-leth.xml
  third-party/dms-guild/the-great-dale/archetypes/monk-shou.xml
  third-party/dms-guild/the-great-dale/archetypes/paladin-sarshel.xml
  third-party/dms-guild/the-great-dale/archetypes/ranger-nentyar.xml
  third-party/dms-guild/the-great-dale/archetypes/rogue-blackflame.xml
  third-party/dms-guild/the-great-dale/archetypes/rogue-thug.xml
  third-party/dms-guild/the-great-dale/archetypes/sorcerer-forestsoul.xml
  third-party/dms-guild/the-great-dale/archetypes/sorcerer-raumathari.xml
  third-party/dms-guild/the-great-dale/archetypes/warlock-eltab.xml
  third-party/dms-guild/the-great-dale/archetypes/warlock-queen.xml
  third-party/dms-guild/the-great-dale/archetypes/wizard-demonbinder.xml
  third-party/dms-guild/the-great-dale/backgrounds/demon-tained.xml
  third-party/dms-guild/the-great-dale/backgrounds/nentyarch-follower.xml
  third-party/dms-guild/the-great-dale/backgrounds/shadowmasters-agent.xml
  third-party/dms-guild/the-great-dale/feats.xml
  third-party/dms-guild/the-great-dale/invocations.xml
  third-party/dms-guild/the-great-dale/items.xml
  third-party/dms-guild/the-great-dale/source.xml
  third-party/dms-guild/the-great-dale/spells.xml
  third-party/dms-guild/the-great-dale/volodni.xml
Labels: dms guild

#447 [OOTD] Magic items and epic path blessings
  third-party/arcanum-worlds/odyssey-of-the-dragonlords.index
  third-party/arcanum-worlds/odyssey-of-the-dragonlords/items-gifts.xml
  third-party/arcanum-worlds/odyssey-of-the-dragonlords/items.xml
Labels: third party

#438 Updates to Awakened Undead Race
  third-party/dms-guild/race-awakened-undead.xml
Labels: dms guild

#458 DMSG The Magus (Class)
  third-party/dms-guild.index
  third-party/dms-guild/classes/class-magus.xml
Labels: dms guild

#439 COFSA Invocation Fixes
  third-party/genuine-fantasy-press/forgotten-secrets/invocations.xml
Labels: third party

#453 Update race-aasimar.xml
  supplements/volos-guide-to-monsters/race-aasimar.xml
Labels: wizards of the coast

#464 DMSG Blood Hunter
  third-party/critical-role/classes/bloodhunter-orderofthelycan.xml
  third-party/critical-role/classes/class-bloodhunter.xml
  third-party/dms-guild.index
  third-party/dms-guild/classes/class-bloodhunter.xml
Labels: dms guild
