Repository aurorabuilder/elements, pull requests merged in 2020-08, with the labels that each got.

#551 [PHB] Two Fighter Fixes
  core/players-handbook/classes/class-fighter.xml
Labels: breaking change

#547 COFSA: Added COFSA Familiars
  third-party/genuine-fantasy-press/forgotten-secrets/familiars.xml
Labels: third party

#570 Swordmage Class
  third-party/dms-guild.index
  third-party/dms-guild/classes/class-swordmage.xml
Labels: dms guild
