Repository aurorabuilder/elements, pull requests merged in 2020-04, with the labels that each got.

#502 DMSG The Border Kingdoms
  third-party/dms-guild.index
  third-party/dms-guild/the-border-kingdoms.xml
Labels: dms guild

#510 UA20200414 Psionic Options Revisited
  unearthed-arcana.index
  unearthed-arcana/2020/20200414.xml
Labels: unearthed arcana

#505 EGTW Legendary Items / Artifacts
  supplements/explorers-guide-to-wildemount/items.xml
  supplements/explorers-guide-to-wildemount/source.xml
Labels: wizards of the coast

#496 Update 20170206.xml
  unearthed-arcana/2017/20170206.xml
Labels: unearthed arcana
